<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @post.published %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>    

<div id="recently_viewed_cookie">
</div>
<script>
  $.ajax({url:"/fragments/viewed_posts/<%=@post.id%>" ,cache:false,success: function(html){$('#recently_viewed_cookie').append(html);}});           
</script>