<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Build a Better, Faster App with Varnish</title>
<%= stylesheet_link_tag 'style1'%>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery.cookie" %>
</head>

<body>
<div id="container">
	<div id="header">
		<h1><%= link_to 'Build a Better, Faster App with Varnish', root_path , {:class => 'header_link'}%></h1>
		<p class="pretty_time"><%=render_esi('/fragments/time')%></p>         
	</div><!--end header-->
    <div id="main">   
		  <div class="content">
				<p style="color: green"><%= flash[:notice] %></p>   
				<%= yield %>       
			</div>  
			<div id="sidebar">
						
						 <div class="sidebar_header">
						       Last Viewed Post Cookie
						 </div>     
							<ul>
							<li><strong>The last post viewed:</strong> <span id="my_cookie">Empty.</span></li>
						</ul>
						
						
						<%= render_esi('/fragments/personal_info')%>  
						
						<div class="sidebar_header top"> 
							 Posts
						</div>   
						<%=posts_list%>         
			</div>
		</div><!--end main--> 

          
	    <div id="footer">
	    	<p><a href="mailto:hank@rubyslacker.com">Hank Beaver</a> - ATLRUG - October 14, 2009</p> 
			</div><!--end footer-->

</div><!--end container-->   

<script>
$(document).ready(function() {
       // set the cookie info in DOM using cookie object
			$('#my_cookie').html($.cookie('viewed_posts'));
});
</script>

</body>
</html>
