<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Build a Better, Faster App with Varnish</title>
<style>
body{
	background:#043560;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;}

#container{
	width:875px;
	margin:0 auto;
	border:1px solid #333;
	background:url(/images/bolt.png) center 60px no-repeat;}   

#header{
	border-bottom:1px solid #333;
	background:#fff;
	padding:10px;
	text-align:center;} 
	
#sidebar_header{
	border-bottom:1px solid #333;
	background:#ddd;
	padding:10px;
	text-align:left;} 

#header h1 a{
	font-size:30px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#00689f;}
	 
	
#main{   
	width:723px; 
	float: left;
	padding:5px;
	background:url(/images/main-bg.png) top left repeat;}   

#sidebar{
	width:140px;
	float: right;
	text-align:left;
	color: #000;   
	margin:0 auto;
	border:1px solid #333;
	background:url(/images/main-bg.png) top left repeat;} 

#footer{
	border-top:1px solid #333;
	text-align:center;
	font-size:12px;
	line-height:70px;
	height:100px;
	color:#fff;
	background:url(/images/footer.jpg) top left repeat-x;
	clear:both;}	

a{
	color:#fff;}
	
ul li{
	text-align:left; 
	font-size:10px;
	color:#222; 
	margin:3 0 3 0px;  
}	 

ul#tweet_list li{
	text-align:left; 
	font-size:14px;
	color:#000; 
	margin:3 0 3 0px;  
}  


a.tweet_list_link {
	color:#222;   
}
</style> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<%= javascript_include_tag "jquery.cookie" %>
</head>

<body>
<div id="container">
	<div id="header"><h1><%= link_to 'Build a Better, Faster App with Varnish', root_path , {:class => 'header_link'}%></h1></div><!--end header-->
    <div id="main">
			<p style="color: green"><%= flash[:notice] %></p>   
			<%= yield %>
		</div><!--end main--> 

 	 	<div id="sidebar">
				   <div id="sidebar_header">
					       Cookie and Personal Info
					 </div>  
					<%= personal_info %>  
					<h3>Posts</h3>
					<%=posts_list%>         
		</div>            
	    <div id="footer">
	    	<p><a href="mailto:hbeaver@rubyslacker.com">Hank Beaver</a> - ATLRUG - October 14, 2009<br/><%=pretty_time%> </p> 
			</div><!--end footer-->

</div><!--end container-->
</body>
</html>
